Demo2/cd_catalog.dtd

  <!ELEMENT CATALOG (CD*)>
  <!ELEMENT CD (TITLE,ARTIST,COUNTRY,COMPANY,PRICE?,COST,YEAR,INVENTORY?,BIN?)>
  <!ELEMENT TITLE (#PCDATA)>
  <!ELEMENT ARTIST (#PCDATA)>
  <!ELEMENT COUNTRY (#PCDATA)>
  <!ELEMENT COMPANY (#PCDATA)>
  <!ELEMENT PRICE (#PCDATA)>  
  <!ELEMENT COST (#PCDATA)>
  <!ELEMENT YEAR (#PCDATA)>
   <!ELEMENT INVENTORY (#PCDATA)>
    <!ELEMENT BIN (#PCDATA)>